*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: orbitron;
  src: url(fonts/orbitron/Orbitron-VariableFont_wght.ttf);
}
#body {
    overflow: hidden;
  max-width: 291px;
  width: 100%;
  position: relative;
  margin: auto;
  height: 294px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
#zikr {
  max-width: 1440px;
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: cursive;
  margin-bottom: 10px;

}
#tepa {
  overflow: hidden;
  top: 0;
  position: absolute;
  box-sizing: border-box;
 max-width: 290px;
 width: 100%;
  height: 120px;
  border: 1px solid #000;
  margin: auto;
  z-index: 1;
  border-radius: 25px;
  padding-bottom: 20px;
  background: #008000;
}
#nechta {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  font-size:30px;
  padding: 10px;
  margin-top: 35px;
  font-family: orbitron;
  color: rgb(89, 82, 82);
  background: rgba(255, 255, 255, 0.718);
  border-radius: 5px;
}

#past {
  bottom: 0;
  left: 24px;
  position: absolute;
  margin-top: -2px;
  z-index: 2;
 max-width: 240px;
  width: 100%;
  height: 154px;
  border: 1px solid #000;
  border-top: none;
  margin: auto;
  padding-bottom: 20px;
  background-color: #008000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

#osh {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: absolute;
  left: 65px;
  bottom: 40px;
  background: rgb(247, 247, 247);
  box-shadow: inset 0 0 15px rgb(221, 142, 6);
}
#tozala {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  left: 25px;
  margin-top: 10px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.549);
}
